MONGODB_URI=mongodb+srv://user:pass@cluster0.xxxxx.mongodb.net/rayapp?retryWrites=true&w=majority
JWT_SECRET=ganti_dengan_string_random_panjang_minimal_32_karakter
ADMIN_SECRET=kunci_rahasia_admin
BASE_URL=https://nama-project.vercel.app
PORT=3000
